.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sphere {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 0;
    animation: bounceAnimation 5s infinite;
}

@keyframes bounceAnimation {
    0% {
        top: 0;
    }
    10% {
        top: 50%;
    }
    20% { 
        top: 20%;
    }
    30% {
        top: 50%;
    }
    40% {
        top: 30%;
    }
    50% {
        top: 50%;
    }
    60% {
        top: 40%;
    }
    70% {
        top: 50%;
    }
}
